
html, body, h1{
	margin: 0;
}

#header_wrap{
	width: 100%;
	background-color: #282828;
	padding-top: 50px;
	padding-bottom: 50px;
}
header h1{
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 42px;
	font-weight: 700;
	line-height: 1.5;
}

.headding09 {
	background: #1d8ade; 
	padding:12px 10px;
	color:#FFF;
	text-shadow:1px 1px 2px #333;
	position:relative;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border:4px solid #036;
	width: 50%;
	margin: 50px auto;
	}
 
.headding09:before {
	content: ' ';
	position: absolute;
	z-index: 2;
	width: 0;
	height: 0;
	left: 14px;
	bottom: -27px;
	background: transparent;
	border-color: #1D8ADE transparent transparent  transparent  ;
	border-style:solid;
	border-width:15px;
	}
.headding09:after {
	content: ' ';
	position: absolute;
	z-index: -1;
	width: 0;
	height: 0;
	left: 5px;
	bottom: -43px;
	background: transparent;
	border-color:#036 transparent transparent  transparent  ;
	border-style:solid;
	border-width:24px;
	}
